<h1><%= "Welcome to the themepark!" %></h1>
<br>
<p>Name:
  <%= @user.name %></p>
<br>

<p>Tickets:
  <%= @user.tickets %></p>
<br>

<p>Mood:
  <%= @user.mood %></p>
<br>

<p>Height:
  <%= @user.height %></p>

<br>
<%= link_to "Edit", edit_user_path %>
<br>

<%= link_to "See atractions", attractions_path %>
